.idea/
.ipynb_checkpoints/
explore/OP_demo_model.ipynb
explore/basic_network_diagram.jpeg
explore/hourglassnet_broken_cell_error.ipynb
explore/mean_std.ipynb
explore/test1.ipynb
explore/test2.ipynb
explore/test3_object_proposal.ipynb
.DS_Store
utils/__pycache__/
hourglassnet.py
training.py
explore/Annotation_checks.ipynb
save/
explore/
transfer_learning-Copy1.ipynb